<!-- question_edit_tips.html -->
{% if settings.QUESTION_INSTRUCTIONS %}
    {{ settings.QUESTION_INSTRUCTIONS|safe }}
{% else %}
    <ul>
        {% if not request.user.is_authenticated() and not (settings.USE_RECAPTCHA and settings.ALLOW_ASK_ANONYMOUSLY) %}
        <li class="warning">{% trans %}since you are not logged in right now, you will be asked to sign in or register after making your post{% endtrans %}</li>
        {% else %}
            {% if settings.EMAIL_VALIDATION %}
                {% if not request.user.email_isvalid %}
                <li class="warning">{% trans email=request.user.email %}Your email, {{ email }} has not yet been validated. To post messages you must verify your email, please see <a href='{{ email_validation_faq_url }}'>more details here</a>. You can submit your post now and validate email after that.{% endtrans %}</li>
                {% endif %}
            {% endif %}
        {% endif %}
        <li><strong>search first</strong> to see if the question is already answered.</li>
        <li><strong>use tags</strong> appropriately; device used, toolchain and similar.</li>
        <li><strong>accept an answer</strong> if it solves your question.</li>
    </ul>
{% endif %}
