<!-- template secondary_header.html -->
<div id="secondaryHeader">
    <div class="content-wrapper">
        {# form is wrapping search buttons and the search bar inputs #}
        {% set enabled_scopes_class = 'scopes-' + 
            '%s'|format(settings.ALL_SCOPE_ENABLED) + '-' +
            '%s'|format(settings.UNANSWERED_SCOPE_ENABLED) + '-' +
            '%s'|format((request.user.is_authenticated() and settings.FOLLOWED_SCOPE_ENABLED))
        %}
        <form
            {% if active_tab == "tags" %}
                action="{% url tags %}" 
            {% elif page_class == 'user-profile-page' %}
                action="{% url questions %}" id="searchForm"
            {% elif active_tab == "users" %}
                action="" 
            {% else %}
                action="{% url questions %}" id="searchForm"
            {% endif %}
            class="{{ enabled_scopes_class }}"
            method="get">
                {% include "widgets/scope_nav.html" %}</td>
                {% if settings.ASK_BUTTON_ENABLED %}
                <div class="action">
                    {% include "widgets/ask_button.html" %}            
                </div>
                {% endif %}
                {% include "widgets/search_bar.html" %}</td> 
        </form>
    </div>
</div>
