<!-- user_info.html -->
{% import "macros.html" as macros %}
<div class="user-info-table">
    <div class="col1">
        <div class='avatar'>
            {{ macros.gravatar(view_user, 128) }}
        </div>
        {% if can_show_karma %}
            <div class="scoreNumber">{{view_user.reputation|intcomma}}</div>
            <p><b style="color:#777;">{% trans %}karma{% endtrans %}</b></p>
        {% endif %}
        {% if user_follow_feature_on %}
            {{ macros.follow_user_toggle(visitor = request.user, subject = view_user) }}
        {% endif %}
        {% if request.user != view_user %}
            <div class="button"><a href="{{ url('threads') }}">Send message</a></div>
        {% endif %}
    </div>
    <div class="col2 user-details">
        {% if request.user == view_user %}
        <h3>Actions</h3>
            <ul>
                <li><a href="{% url edit_user view_user.id %}">
                {% trans %}Edit profile{% endtrans %}
            </a></li>
            {% if settings.USE_ASKBOT_LOGIN_SYSTEM and request.user == view_user and settings.ALLOW_ADD_REMOVE_LOGIN_METHODS %}
                <li> <a href="{{ settings.LOGIN_URL }}?next={{ settings.LOGIN_URL }}">
                    {% trans %}Change password{% endtrans %}
                </a></li>
            {% endif %}
                <li><a
                    {% if support_custom_avatars %}
                        href="{% url avatar_change %}"
                    {% else %}
                        href="{% url faq %}#gravatar"
                    {% endif %}
                >{% trans %}Change avatar{% endtrans %}</a></p>
                {% if support_custom_avatars %}
                <p><a
                    href="{% url avatar_delete %}"
                    >{% trans %}remove{% endtrans %}</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
        <table>
            <tr>
                <th colspan="2" align="left">
                <h3>{{user_status_for_display}}</h3>
                </th>
            </tr>
            {% if view_user.real_name %}
            <tr>
                <td>{% trans %}real name{% endtrans %}</td>
                <td><b>{{view_user.real_name|escape}}</b></td>
            </tr>
            {% endif %}
            {% if settings.GROUPS_ENABLED %}
            <tr>
                <td>{% trans %}groups{% endtrans %}</td>
                <td>
                    <div id="user-groups">
                        <table id="groups-list">
                            {% for group in user_groups %}
                            <tr>
                                {{ macros.user_group(group, groups_membership_info[group.id]) }}
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="clearfix"></div>
                        <a id="add-group">{% trans %}add group{% endtrans %}</a>
                    </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>{% trans %}member since{% endtrans %}</td>
                <td><strong>{{ macros.timeago(view_user.date_joined) }}</strong></td>
            </tr>
            {% if view_user.last_seen %}
            <tr>
                <td>{% trans %}last seen{% endtrans %}</td>
                <td><strong title="{{ view_user.last_seen }}">{{ macros.timeago(view_user.last_seen) }}</strong></td>
            </tr>
            {% endif %}
            {% if view_user.company and (not view_user.is_blocked()) %}
            <tr>
                <td>{% trans %}company{% endtrans %}</td>
                <td>{{ view_user.company }}</td>
            </tr>
            {% endif  %}
            {% if view_user.website and (not view_user.is_blocked()) %}
            <tr>
                <td>{% trans %}website{% endtrans %}</td>
                <td>{{ macros.user_website_link(view_user, max_display_length = 30) }}</td>
            </tr>
            {% endif  %}
            {% if view_user.twitter_handle and (not view_user.is_blocked()) %}
            <tr>
                <td>{% trans %}twitter handle{% endtrans %}</td>
                <td><a href="{{ view_user.twitter_url() }}">{{ view_user.get_twitter_handle() }}</a></td>
            </tr>
            {% endif  %}
            {% if view_user.linkedin_profile and (not view_user.is_blocked()) %}
            <tr>
                <td>{% trans %}linkedin profile{% endtrans %}</td>
                <td><a href="{{ view_user.linkedin_profile }}">{{ view_user.linkedin_profile }}</a></td>
            </tr>
            {% endif  %}
            {% if request.user == view_user and
                settings.TWITTER_SECRET and
                settings.TWITTER_KEY and
                settings.ENABLE_SHARING_TWITTER
            %}
                {% include "user_profile/twitter_sharing_controls.html" %}
            {% endif %}
            {% if view_user.location or view_user.country %}
            <tr>
                <td>{% trans %}location{% endtrans %}</td>
                <td>{{ macros.user_full_location(view_user) }}</td>
            </tr>
            {% endif %}
            {% if view_user.date_of_birth %}
            <tr>
            <!--todo  - redo this with whole sentence translation -->
                <td>{% trans %}age{% endtrans %}</td>
                <td>{% trans age=view_user.date_of_birth|get_age%}{{ age }} years old{% endtrans %}</td>
            </tr>
            {% endif %}
            {% if votes_today_left %}
            <tr>
                <td>{% trans %}todays unused votes{% endtrans %}</td>
                <td><strong class="darkred">{{ votes_today_left }}</strong> {% trans %}votes left{% endtrans %}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="col3 user-about">
    {% if view_user.about and (not view_user.is_blocked()) %}
        {{view_user.about|linebreaks}}
    {% else %}
        <p><em>{{ view_user.real_name }} hasn't included any description.</em></p>
    {% endif %}
    </div>
</div>
<!-- end user_info.html -->
