{% extends "base.html" %}
<!-- template 500.html -->
{% block title %}{% spaceless %}{% trans %}Internal server error{% endtrans %}{% endspaceless %}{% endblock %}

{% block secondary_header %}
{% endblock %}
{% block body %}
<h1>{% trans %}Internal server error{% endtrans %}</h1>
<div id="main-body">
    <div style="padding:5px 0px 10px 0;line-height:25px">
        <p>{% trans %}system error log is recorded, error will be fixed as soon as possible{% endtrans %}</p>
        <p>We're sorry for the inconvenience!</p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
<!-- end template 500.html -->
